# Importando as bibliotecas e bases de dados

In [198]:
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px

In [199]:
# Importando os relatorios da Cota para Exercício da Atividade Parlamentar dos Senadores (CEAPS)

dp_ceaps2022 = pd.read_csv("despesa_ceaps_2022.csv", sep = ';', encoding='unicode_escape', on_bad_lines= 'skip', header=1 )
dp_ceaps2021 = pd.read_csv("despesa_ceaps_2021.csv", sep = ';', encoding='unicode_escape', on_bad_lines= 'skip', header=1 )
dp_ceaps2020 = pd.read_csv("despesa_ceaps_2020.csv", sep = ';', encoding='unicode_escape', on_bad_lines= 'skip', header=1 )
dp_ceaps2019 = pd.read_csv("despesa_ceaps_2019.csv", sep = ';', encoding='latin1', on_bad_lines= 'skip', header=1 )

# Visualizando e analizando informações gerais da base de dados

In [200]:
dp_ceaps2019.head(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550

In [201]:
dp_ceaps2020.head(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,14764742,06/01/2020,Despesa com energia elétrica para uso do escri...,"122,62",2141820
1,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,14764741,06/01/2020,Despesa com energia elétrica para uso do escri...,"137,75",2141818
2,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",062.135.728-64,FERNANDO WALDEIR PACINI e ANA LUCIA DA SILVA S...,001/2020,06/01/2020,Despesa com pagamento de aluguel de imóvel par...,1000,2139025
3,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/20,02/01/2020,Despesa com pagamento de aluguel de imóvel par...,6000,2139020
4,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,333871612,25/12/2019,Despesa com pagamento de telefone para uso do ...,"323,95",2139044

In [202]:
dp_ceaps2021.head(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,023.489.627,21/01/2021,Pagamento de energia elétrica para uso do escr...,"75,29",2158003
1,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",062.135.728-64,FERNANDO WALDEIR PACINI e ANA LUCIA DA SILVA S...,01/2021,05/01/2021,Despesa com pagamento de aluguel de imóvel par...,1000,2157367
2,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/21,06/01/2021,Despesa com aluguel de imóvel para uso do escr...,6000,2156383
3,2021,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,10,25/01/2021,Divulgação da atividade parlamentar,1500,2154509
4,2021,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,44,07/01/2021,Divulgação da atividade parlamentar,6000,2154507

In [203]:
dp_ceaps2022.head(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
1,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,17/01/2022,Divulgação da atividade parlamentar,2000,2173617

In [204]:
# É importande saber a tipologia dos dados para saber se conferem com a imformaçõão que vai ser tirada eles

print(dp_ceaps2022.info(), dp_ceaps2021.info(), dp_ceaps2020.info(), dp_ceaps2019.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4302 entries, 0 to 4301
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                4302 non-null   int64
 1   MES                4302 non-null   int64
 2   SENADOR            4302 non-null   object
 3   TIPO_DESPESA       4302 non-null   object
 4   CNPJ_CPF           4302 non-null   object
 5   FORNECEDOR         4302 non-null   object
 6   DOCUMENTO          4089 non-null   object
 7   DATA               4302 non-null   object
 8   DETALHAMENTO       2200 non-null   object
 9   VALOR_REEMBOLSADO  4302 non-null   object
 10  COD_DOCUMENTO      4302 non-null   int64
dtypes: int64(3), object(8)
memory usage: 369.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16820 entries, 0 to 16819
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16820 non-null  int64
 1   MES                16820 non-null  int64
 2   SENADOR            16820 non-null  object
 3   TIPO_DESPESA       16820 non-null  object
 4   CNPJ_CPF           16820 non-null  object
 5   FORNECEDOR         16820 non-null  object
 6   DOCUMENTO          16145 non-null  object
 7   DATA               16820 non-null  object
 8   DETALHAMENTO       9194 non-null   object
 9   VALOR_REEMBOLSADO  16820 non-null  object
 10  COD_DOCUMENTO      16820 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14090 entries, 0 to 14089
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                14090 non-null  int64
 1   MES                14090 non-null  int64
 2   SENADOR            14090 non-null  object
 3   TIPO_DESPESA       14090 non-null  object
 4   CNPJ_CPF           14090 non-null  object
 5   FORNECEDOR         14090 non-null  object
 6   DOCUMENTO          13470 non-null  object
 7   DATA               14090 non-null  object
 8   DETALHAMENTO       7228 non-null   object
 9   VALOR_REEMBOLSADO  14090 non-null  object
 10  COD_DOCUMENTO      14090 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21634 entries, 0 to 21633
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21634 non-null  int64
 1   MES                21634 non-null  int64
 2   SENADOR            21634 non-null  object
 3   TIPO_DESPESA       21634 non-null  object
 4   CNPJ_CPF           21634 non-null  object
 5   FORNECEDOR         21634 non-null  object
 6   DOCUMENTO          20900 non-null  object
 7   DATA               21634 non-null  object
 8   DETALHAMENTO       13092 non-null  object
 9   VALOR_REEMBOLSADO  21634 non-null  object
 10  COD_DOCUMENTO      21634 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.8+ MB
None None None None

In [205]:
# Definindo as dimensões das bases de dados

print('O tamanho das bases de dados são:')
print(f' 2019 tem {dp_ceaps2019.shape[0]} linhas e {dp_ceaps2019.shape[1]} colunas.')
print(f' 2020 tem {dp_ceaps2020.shape[0]} linhas e {dp_ceaps2022.shape[1]} colunas.')
print(f' 2021 tem {dp_ceaps2021.shape[0]} linhas e {dp_ceaps2021.shape[1]} colunas.')
print(f' 2022 tem {dp_ceaps2022.shape[0]} linhas e {dp_ceaps2020.shape[1]} colunas.')

O tamanho das bases de dados são:
 2019 tem 21634 linhas e 11 colunas.
 2020 tem 14090 linhas e 11 colunas.
 2021 tem 16820 linhas e 11 colunas.
 2022 tem 4302 linhas e 11 colunas.

CONCLUSÃO

Os 4 arquivos do CEASP trabalhão com as mesmas colunas então não haverá problemas para junta-las em um mesmo Data Frame. Essa ação facilitará o refinamento dos dados e a analise em sí. Foi descoberto que as colunas DATA e VALOR_REEMBOLSADO são do tipo object, sera necessário uma mudança na tipologia deles para que se possa estrair os valores corretos deles.

# Criando uma base de dados unica

In [206]:
despesas = pd.concat([dp_ceaps2019, dp_ceaps2020, dp_ceaps2021, dp_ceaps2022])

In [207]:
despesas.head(-5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550
...,...,...,...,...,...,...,...,...,...,...,...
4292,2022,4,ZEQUINHA MARINHO,"Locomoção, hospedagem, alimentação, combustíve...",07.897.481/0001-29,POSTO GOL LTDA.,74886,07/04/2022,NaN,"477,73",2178588
4293,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,HEVZIW,01/04/2022,"Companhia Aérea: GOL, Localizador: HEVZIW. Pas...","2815,46",2177779
4294,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FXMSVF,02/04/2022,"Companhia Aérea: LATAM, Localizador: FXMSVF. P...","1361,66",2177783
4295,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,LJUGYA,02/04/2022,"Companhia Aérea: LATAM, Localizador: LJUGYA. P...","1361,66",2177785
4296,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,VLNWSC,02/04/2022,"Companhia Aérea: LATAM, Localizador: VLNWSC. P...","2723,23",2177780

In [208]:
# Agora tem apenas uma tabela com todas as informações das anteriores. Isto facilitará e muito as analises 

print(f'Despesas tem {despesas.shape[0]} linhas e {despesas.shape[1]} colunas')

Despesas tem 56846 linhas e 11 colunas

# Refinando a Base de dados

In [209]:
# Informações do novo DataFrame

despesas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56846 entries, 0 to 4301
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                56846 non-null  int64
 1   MES                56846 non-null  int64
 2   SENADOR            56846 non-null  object
 3   TIPO_DESPESA       56846 non-null  object
 4   CNPJ_CPF           56846 non-null  object
 5   FORNECEDOR         56846 non-null  object
 6   DOCUMENTO          54604 non-null  object
 7   DATA               56846 non-null  object
 8   DETALHAMENTO       31714 non-null  object
 9   VALOR_REEMBOLSADO  56846 non-null  object
 10  COD_DOCUMENTO      56846 non-null  int64
dtypes: int64(3), object(8)
memory usage: 5.2+ MB

In [210]:
# Verificando se existe valores nulos

despesas.isnull().sum()

ANO                      0
MES                      0
SENADOR                  0
TIPO_DESPESA             0
CNPJ_CPF                 0
FORNECEDOR               0
DOCUMENTO             2242
DATA                     0
DETALHAMENTO         25132
VALOR_REEMBOLSADO        0
COD_DOCUMENTO            0
dtype: int64

In [211]:
#Transformando valores nulos em 0

despesas['DOCUMENTO'].fillna(value= 0, inplace = True)

# Pelo fato da coluna de  detalhamento poder conter informações relevantes para as analises foi optado em criar o termo de "não informado"

despesas['DETALHAMENTO'].fillna(value = 'Não informado', inplace = True)

In [212]:
# Verificando se não existe mais valores nulos 

despesas.isnull().sum()

ANO                  0
MES                  0
SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            0
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64

In [213]:
# Eliminando colunas com informações não relacionadas a pesquisa

despesas = despesas.drop(columns = ['CNPJ_CPF', 'DOCUMENTO', 'COD_DOCUMENTO'])

In [214]:
despesas

,ANO,MES,SENADOR,TIPO_DESPESA,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",ENERGISA,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02"
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",ENERGISA,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98"
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",GILBERTO PISELO DO NASCIMENTO,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",OI MÓVEL S.A.,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39"
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",ENERGISA,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45"
...,...,...,...,...,...,...,...,...
4297,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",Exceller Tour,04/04/2022,"Companhia Aérea: GOL, Localizador: QVOLRY. Pas...","1681,23"
4298,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",Exceller Tour,06/04/2022,"Companhia Aérea: AZUL, Localizador: JBHH5Y. Pa...","1663,61"
4299,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",Exceller Tour,06/04/2022,"Companhia Aérea: LATAM, Localizador: FRFFFI. P...",2324
4300,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",Exceller Tour,11/04/2022,"Companhia Aérea: AZUL, Localizador: KBL62Y. Pa...","1081,85"
4301,2022,4,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",Exceller Tour,11/04/2022,"Companhia Aérea: GOL, Localizador: CGDOUM. Pas...","2083,02"

In [215]:
# É preciso transformar a coluna data de object em uma datetime. Contudo existe algumas linhas dando erro então será necessário uma limpesa

despesas['NOVA_DATA'] = pd.to_datetime(despesas['DATA'], format="%d/%m/%Y", errors='coerce')

In [216]:
despesas.query("NOVA_DATA == 'NaN'")

,ANO,MES,SENADOR,TIPO_DESPESA,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,NOVA_DATA
10986,2019,1,LÚCIA VÂNIA,"Aluguel de imóveis para escritório político, c...",LDE Contabilidade e Administração de Condomíni...,31/01/0219,Taxa condominial,"271,26",NaT
10362,2020,5,PLÍNIO VALÉRIO,Divulgação da atividade parlamentar,Excelsior Comunicação Digital Ltda,05/05/0202,Não informado,1150,NaT
2147,2021,11,CARLOS VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",ADRIA VIAGENS E TURISMO LTDA,29/10/0202,"Companhia Aérea: AZUL, Localizador: YK1QHD. Pa...","339,9",NaT

In [217]:
despesas['DATA'] = despesas['DATA'].replace('31/01/0219','31/01/2019')
despesas['DATA'] = despesas['DATA'].replace('05/05/0202','05/05/2020')
despesas['DATA'] = despesas['DATA'].replace('29/10/0202','29/10/2020')

In [218]:
despesas['DATA'] = pd.to_datetime(despesas['DATA'], format="%d/%m/%Y")

In [219]:
despesas = despesas.drop(columns = 'NOVA_DATA')

In [220]:
# A transformação da coluna data foi bem sucedida

despesas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56846 entries, 0 to 4301
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                56846 non-null  int64
 1   MES                56846 non-null  int64
 2   SENADOR            56846 non-null  object
 3   TIPO_DESPESA       56846 non-null  object
 4   FORNECEDOR         56846 non-null  object
 5   DATA               56846 non-null  datetime64[ns]
 6   DETALHAMENTO       56846 non-null  object
 7   VALOR_REEMBOLSADO  56846 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 3.9+ MB

In [221]:
# transformando ',' da coluna VALOR_REEMBOLSADO em '.' para tornala em float

despesas['VALOR_REEMBOLSADO'] = despesas['VALOR_REEMBOLSADO'].replace(',', '.', regex= True)

# Tranformando a coluna em float

despesas['VALOR_REEMBOLSADO'] = despesas['VALOR_REEMBOLSADO'].astype(float)

In [222]:
# Mudando a nomenclatura da coluna tipo_despesa

despesas['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Divulgação da atividade parlamentar',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Serviços de Segurança Privada'], dtype=object)

In [223]:
tipos_de_gastos = {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.' : 'Aluguel de imoveis',
       'Divulgação da atividade parlamentar' : 'Divulgação da atividade parlamentar',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ' : 'Aquisição de Materiais gerais',
       'Passagens aéreas, aquáticas e terrestres nacionais' : 'Transporte',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar' : 'Contratações',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes' : 'Verba de viagem',
       'Serviços de Segurança Privada' : 'Serviços de Segurança Privada'}

In [224]:
despesas['TIPO_DESPESA'] = despesas['TIPO_DESPESA'].map(tipos_de_gastos)

In [225]:
# Base de dados filtrada
despesas

,ANO,MES,SENADOR,TIPO_DESPESA,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2019,1,ACIR GURGACZ,Aluguel de imoveis,ENERGISA,2019-01-04,Despesa com pagamento de energia elétrica do e...,66.02
1,2019,1,ACIR GURGACZ,Aluguel de imoveis,ENERGISA,2019-01-04,Despesa com pagamento de energia elétrica do e...,139.98
2,2019,1,ACIR GURGACZ,Aluguel de imoveis,GILBERTO PISELO DO NASCIMENTO,2019-01-07,Despesa com pagamento de aluguel de imóvel par...,6000.00
3,2019,1,ACIR GURGACZ,Aluguel de imoveis,OI MÓVEL S.A.,2018-12-25,Despesa com pagamento de telefonia para o escr...,316.39
4,2019,2,ACIR GURGACZ,Aluguel de imoveis,ENERGISA,2019-02-04,Despesa com pagamento de energia elétrica para...,99.45
...,...,...,...,...,...,...,...,...
4297,2022,4,ZEQUINHA MARINHO,Transporte,Exceller Tour,2022-04-04,"Companhia Aérea: GOL, Localizador: QVOLRY. Pas...",1681.23
4298,2022,4,ZEQUINHA MARINHO,Transporte,Exceller Tour,2022-04-06,"Companhia Aérea: AZUL, Localizador: JBHH5Y. Pa...",1663.61
4299,2022,4,ZEQUINHA MARINHO,Transporte,Exceller Tour,2022-04-06,"Companhia Aérea: LATAM, Localizador: FRFFFI. P...",2324.00
4300,2022,4,ZEQUINHA MARINHO,Transporte,Exceller Tour,2022-04-11,"Companhia Aérea: AZUL, Localizador: KBL62Y. Pa...",1081.85
4301,2022,4,ZEQUINHA MARINHO,Transporte,Exceller Tour,2022-04-11,"Companhia Aérea: GOL, Localizador: CGDOUM. Pas...",2083.02

CONCLUSÃO

Todas as alterações na tipologia dos dados, formatação do conteudo e exclusão de fatores não determinantes da pesquisa foram bem sucedidas.

# Analise da base de dados

## Qual é o periodo do ano em que mais ocorrre gastos publicos?

In [226]:
# Visualisando o total de gastos por mes

ax = despesas.groupby('MES')['VALOR_REEMBOLSADO'].sum().reset_index()
fig = px.bar(ax, x='MES',y='VALOR_REEMBOLSADO', 
             title="Gastos por mes",
             text_auto='.2s'
            )
fig.update_traces(textfont_size=12, textangle=0, textposition="outside")
fig.show()

In [227]:
# Visualizando os gastos em um ano eleitoral

ax1 = despesas.query("ANO == 2019")
ax = ax1.groupby('MES')['VALOR_REEMBOLSADO'].sum().reset_index()
fig = px.bar(ax, x='MES',y='VALOR_REEMBOLSADO', 
             title="Gastos por mes No ano de 2019", text_auto= '.2s'
            )
fig.update_traces(textfont_size=12, textangle=0, textposition="outside")
fig.show()

CONCLUSÃO

O primeiro grafico afirma que os gastos dos senadores crescem consideravelmente entre o fim e o inicio do ano (Desembro a março), sendo este o periodo que há mais gastos por parte dos Senadores. Contudo o segundo grafico mostra que em um ano eleitoral os gastos se concentrão em no meio para o final do ano muito provavelmente devido aos conpromissos de campanha.

## Qual a media de reenbousos feitos pelos senadores?

In [228]:
# o numero do reembolso

despesas['VALOR_REEMBOLSADO'].sum()

77646339.45

In [229]:
# E necessário criar uma media anual com o valor de reembolso com o numero de cadeiras do Senado (81) nos 4 anos analisados. 

media = (despesas['VALOR_REEMBOLSADO'].sum() / 81) / 4
media

239649.19583333333

In [230]:
print(f'A media geral de reembouso anual de cada senador nesses ultimos 4 anos foi de R$ {media.round(2)}')

A media geral de reembouso anual de cada senador nesses ultimos 4 anos foi de R$ 239649.2

CONCLUSÃO 

Com a base de dados do CEAPS foi possivel definir que o reembolso medio de cada senador pede é de R$ 239.649,20 por ano.

## Qual e o gasto mais comum entre os senadores?

In [231]:
gastos = despesas.groupby(['TIPO_DESPESA']).VALOR_REEMBOLSADO.sum()
gastos

TIPO_DESPESA
Aluguel de imoveis                     13261307.01
Aquisição de Materiais gerais           3080094.09
Contratações                           19734142.91
Divulgação da atividade parlamentar    10683758.62
Serviços de Segurança Privada            127540.44
Transporte                             17007619.84
Verba de viagem                        13751876.54
Name: VALOR_REEMBOLSADO, dtype: float64

In [232]:
tipos_gastos = gastos.sort_values(ascending=False)
tipos_gastos

TIPO_DESPESA
Contratações                           19734142.91
Transporte                             17007619.84
Verba de viagem                        13751876.54
Aluguel de imoveis                     13261307.01
Divulgação da atividade parlamentar    10683758.62
Aquisição de Materiais gerais           3080094.09
Serviços de Segurança Privada            127540.44
Name: VALOR_REEMBOLSADO, dtype: float64

In [233]:
tipos_gastos = pd.DataFrame(tipos_gastos)   
tipos_gastos

                                     VALOR_REEMBOLSADO
TIPO_DESPESA
Contratações                               19734142.91
Transporte                                 17007619.84
Verba de viagem                            13751876.54
Aluguel de imoveis                         13261307.01
Divulgação da atividade parlamentar        10683758.62
Aquisição de Materiais gerais               3080094.09
Serviços de Segurança Privada                127540.44

In [234]:
tipos_gastos['VALOR_REEMBOLSADO'].sum()

77646339.45

CONCLUSÃO

Os maiores gastos por parte dos senadores são na contratação de pessoal, uso de transporte e na verba de viagem.

## Qual foi o senador com maiores gastos durante esses 4 anos?

In [235]:
senadores = despesas.groupby(['SENADOR']).VALOR_REEMBOLSADO.sum()
senadores = senadores.sort_values(ascending=False)
senadores = pd.DataFrame(senadores)
senadores

                      VALOR_REEMBOLSADO
SENADOR
ROGÉRIO CARVALHO             1594573.55
TELMÁRIO MOTA                1590603.79
PAULO ROCHA                  1556141.47
MECIAS DE JESUS              1504720.88
MAILZA GOMES                 1476292.32
...                                 ...
SIQUEIRA CAMPOS                 5926.99
VIRGINIO DE CARVALHO            5720.56
MAGNO MALTA                     4725.79
JOSÉ PIMENTEL                   4713.74
NAILDE PANTA                    1650.62

[140 rows x 1 columns]

In [236]:
# Para Melhorar a visualização foi escolhido criar uma base com apenas os 5 primeiros Senadores

top_senadores = senadores.head(5)
top_senadores

                  VALOR_REEMBOLSADO
SENADOR
ROGÉRIO CARVALHO         1594573.55
TELMÁRIO MOTA            1590603.79
PAULO ROCHA              1556141.47
MECIAS DE JESUS          1504720.88
MAILZA GOMES             1476292.32

CONCLUSÃO

O Senador que mais reembolsou dinheiro de acordo com a base de dados da CEAPS nos ultimos 4 anos foi o senador Rogerio Carvalho.